/* importando a fonte do google fonts API */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #90ebff;

    --fonte-primaria: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* instalando a fonte do Google no body todo */
    font-family: var(--fonte-primaria);
}

.navigation_menu {
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
    height: 135px;
}

.navigation_menu-items {
    display: flex;
    margin-inline: 29%;
    gap: 40px;

    text-decoration: none;
    width: 50vh;
}

.navigation_menu-items-item {
    color: var(--cor-terciaria);
    transition: 200ms;
    font-size: 22px;
}

.navigation_menu-items-item:hover {
    color: var(--cor-hover);
    scale: 1.2;
    font-weight: 500;
}


.container-leftside-title-blue {
    color: var(--cor-terciaria);
}

.container {
    display: flex;
    /* Acabei de declarar uma flexbox, agora todos os elementos filhos deste pai ficarão alinhados um ao lado do outro, pois este é o padrão do display flex */
    align-items: center;
    /* coloquei os itens no centro, verticalmente. */
    justify-content: space-between;
    /* coloquei um espaço simétrico dentre os elementos-filhos */
    margin-inline: auto;
    /* coloquei uma margem em ambos os lados de 20% do vw */
    margin-top: 80px;
    max-width: 1080px;
}

.container-leftside {
    width: 590px;
}

.container-leftside-title {
    font-size: 36px;
    margin-top: 10px;
}

.container-leftside-paragraph {
    font-size: 22px;
    margin-top: 30px;
}

.container-rightside {
    width: 450px;
    height: 450px;
}

.container-leftside-buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    gap: 33px;
}

.container-leftside-instagrambutton,
.container-leftside-githubbutton {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);

    font-size: 24px;
    font-weight: bold;
    text-align: center;

    padding: 26px;
    border-radius: 16px;
    margin-top: 50px;

    width: 17rem;
    transition: 200ms;
}

.container-leftside-instagrambutton:hover,
.container-leftside-githubbutton:hover {
    background-color: var(--cor-hover);
    scale: 1.1;
}

.down-arrow {
    display: flex;
    margin-inline: auto;
    margin-top: 158px;

    transition: 200ms;
}

.down-arrow:hover {
    scale: 1.2;
}

.my-designs-images {
    max-width: 100vw;
    overflow: auto;
    cursor: grab;
}

.my-designs-heading {
    font-size: 36px;
    color: var(--cor-terciaria);
    text-align: center;
    margin-top: 220px;
    margin-bottom: 75px;
}

.my-designs-carousel {
    display: inline-flex;
    margin-bottom: 30px;
    gap: 15px;
}

.my-designs-images::-webkit-scrollbar {
    display: none;
}

.my-designs-carousel-img {
    max-height: 300px;
    border-radius: 25px;
    box-shadow: var(--cor-terciaria);
}

::-webkit-scrollbar {
    background: var(--cor-primaria);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-terciaria);
    border-radius: 5px;
}

.my-designs-paragraph {
    font-size: 22px;
    text-align: center;
    margin-top: 53px;
    margin-inline: 28%;
}

.down-arrow-2 {
    display: flex;
    margin-inline: auto;
    margin-top: 21px;

    transition: 200ms;
}

.down-arrow-2:hover {
    scale: 1.2;
}

.webdev {
    display: flex;
    flex-direction: column;
    margin-top: 131px;
    gap: 100px;
}

.webdev-title {
    color: var(--cor-terciaria);
    text-align: center;
}

.webdev-description {
    text-align: center;
    max-width: 800px;
    margin-inline: auto;
    font-size: 22px;
}

.webdev-dashboard-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    gap: 50px;
}

.webdev-dashboard-languages-title {
    text-align: center;
    font-size: 22px;
}

.webdev-dashboard-divider {
    width: 1px;
    height: 290px;
    background-color: white;
    text-align: center;
    margin-inline: auto;
}

.webdev-dashboard-workedin {
    display: flex;
    flex-direction: column;

}

.projects-resume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.webdev-dashboard-workedin-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.project-quantity {
    font-size: 70px;
    font-weight: lighter;
}

.languages {
    max-height: 117px;
    padding: none;
}

.webdev-language {
    scale: 0.7;
}

footer {
    display: flex;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
}

footer p {
    margin-inline: auto;
    margin-top: 10px
}

.go-up .down-arrow-2 {
    margin-top: 60px;
    rotate: 180deg;
}
